.outer {
  height: 500px;
  width: 400px;
  background-color: black;
  position: fixed;
  top: 120px;
  z-index: 10001;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-radius: 12px;
}

.bigDiv {
  height: 450px;
  width: 400px;
  background-color: white;
  overflow-y: scroll;
}

.txtbox {
  height: 450px;
  width: 400px;
  color: black;
  font-size: 16px;
  line-height: 40px;
  background-color: white !important;
  font-family: "Roboto Mono", monospace;
  background-image: url("https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png") !important;
  background-repeat: repeat-y;
  border-style: none;
}

.btnDiv {
  background-color: black;
  width: 400px;
  height: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.newTask {
  background-color: black;
  width: 380px;
  height: 20px;
  color: aliceblue;
}

#delbtn {
  background-color: green;
  color: white;
  margin-left: 250px;
}

.reduce {
  height: 0px;
  width: 400px;
}

.zero {
  background-color: black;
  display: none;
}

.paper {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-width: 400px;
  height: 480px;
  margin: 0 auto;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.paper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #d44147;
  box-sizing: border-box;
}

/* buttons */

.btn {


  color: white;
  background-color: #559be8;
  padding: 5px 10px !important;
  border-radius: 20px !important;
  margin-left: 40px !important;
  margin-top: 40px !important;
}

#pdfbtn {

  color: white;
  background-color: green;
  padding: 7px 14px !important;
  border-radius: 20px !important;
  margin-left: 40px !important;
  margin-top: 0px !important;
}

#voicebtn {

  color: black;
  background-color: aliceblue;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  background-image: url(https://w7.pngwing.com/pngs/903/816/png-transparent-microphone-computer-icons-home-screen-viber-blue-electronics-microphone.png);
  background-size: 50px;
  background-repeat: no-repeat;
  margin-left: 60px;
  border-radius: 20px;
  overflow: hidden;
}

.btndivCollapse {
  border-radius: 20px;
}


